* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #d9dcd6;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
header {
    padding: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
    font-size: larger;
    background-color: #2a607c;
    color: #ffffff;
    width: 100vw;
    display: flex;
}
header span {
    color: #d9dcd6;
}
section{
    width: 100vw;
    height: 100vh; 
}
.background{
    width: 100vw;
    height: 100vh;
}
nav{
    display: flex; 
    flex-flow: row wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: calc(100vw - 470.90px);
}
nav a {
    font-size: xx-small;
    padding: .5em;
}
a:link {
    color: #ffffff;
  }
a:visited {
    color: #d9dcd6;
}
a:hover {
    text-decoration: none;
}
main{
    margin: 1em;
    display: flex;
    flex-wrap: column wrap;
    flex-grow: inherit;
    min-height: calc(100vh - 60.68 - 59.43);
}
article{
    display: flex;
    background-color: #0072bb;
    padding: .9em; 
}
figure{
    display: flex; 
    align-items: center;
}
figure img{
    height: 10em
}
.text{
    color: #ffffff;
    font-family: 'Gill Sans';
    padding-left: .5em;
    padding-right: .5em;
}
.h2{
    flex-wrap: column wrap;
}
.ul{
    padding-top: 1em;
    font-size: x-small;
}
aside{
    width: 10em;
    margin-left: .5em;
    color: #ffffff;
}
.aside{
    text-align: center;
    display: flex;
    flex-direction: column; 
    background-color:#2589bd;
    padding: .25em;
}
.aside , h3 {
    font-family: 'Gill Sans';
    font-size: medium;
}
.aside:first-child{
    font-size: x-small;
    font-family: 'Trebuchet MS';
}
footer{
    background-color: transparent;
    text-align: center;
    padding: 1em
}

